<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <% data.forEach(function (post) { %>
            <% if(post.img != ''){ %>
            <img src="<%= post.img %>">
            <% } %> 
            <h3><%= post.title %></h3>
            <%= post.date %>
            <p><%= post.text %></p>
    <% }) %>
</body>
</html>